.theme-dark {
    --background: #282A36;
    
    --heading: lightgreen;
    --subheading: coral;
    --category: lightblue;

    --text-primary: lightgrey;
    --text-secondary: darkgrey;
    --text-tertiary: grey;

    --input-border-primary: #3d3f4f;
    --input-border-secondary: #4c4f61;
    --input-engine: #3c3f4f;

    --item-hover: #2d2f3cfd;
    --item-status-up: greenyellow;
    --item-status-down: red;
    --item-status-timeout: orange;
}

html, body {
    padding: 0;
    margin: 0;

    background-color: var(--background) !important;
    color: var(--text-primary) !important;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Source Code Pro', monospace !important;
}

.container {
    padding: 32px !important;
    padding-top: 128px !important;

    max-width: 1090px !important;
    height: 100vh;
}

h1 {
    font-size: 3em !important;
    color: var(--heading);
}

h2 {
    font-size: 1.7em !important;
    color: var(--subheading);
    margin: 0 !important;
    margin-top: 64px !important;
}

h3 {
    margin: 0 !important;
    margin-top: 12px !important;
    margin-bottom: 14px !important;
    font-size: 1.1em !important;
    height: 18px;
    color: var(--category);
}

h4 {
    margin: 0 !important;
    margin-top: 12px !important;
    margin-bottom: 24px !important;
    font-size: 1em !important;
    height: 18px;
}

a {
    color: var(--text-secondary) !important;
    text-decoration: none !important;
}

a:hover {
    color: var(--text-primary) !important;
}

.search {
    background-color: transparent;
    border: 2px solid var(--input-border-primary);
    width: 100%;
    outline: none;
    padding: 5px;
    max-width: 512px;
    transition: all 0.15s ease;
    height: 36px;
    display: flex;
}

.search > input {
    background-color: transparent;
    color: var(--text-primary);
    border: none;
    outline: none;
    width: 100%;
    padding-left: 4px;
}

.search > input::placeholder {
    color: var(--text-tertiary);
}

.hidden {
    display: none;
}

.search > .engine {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    background-color: var(--input-engine);
    font-size: 0.9em;
}

.search:hover, .search:focus {
    border: 2px solid var(--input-border-secondary);
}

.items {
    margin-top: 16px !important;
}

.item {
    cursor: pointer;
    padding: 8px;
    padding-left: 12px;
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 5px;
    max-width: 256px !important;
    min-width: 256px !important;
    transition: all 0.1s ease;
}

.item:hover {
    background-color: var(--item-hover);
}

.item-top {
    display: flex;
    font-size: 1.06em !important;
}

.item-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.item-title {
    margin-left: 8px;
    color: var(--text-primary);
}

.item-bottom {
    display: flex;
}

.item-status {
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 4px;
    margin-right: 8px;
    height: 8px;
    width: 8px;
    background-color: var(--text-secondary);
}

.up .item-status {
    background-color: var(--item-status-up);
}

.down .item-status {
    background-color: var(--item-status-down);
}

.timeout .item-status {
    background-color: var(--item-status-timeout);
}

.item-description {
    font-size: 0.9em;
    color: var(--text-secondary) !important;
}

.item-port {
    font-size: 0.9em;
    color: var(--text-tertiary) !important;
    margin-left: 5px;
}

.footer {
    position: absolute;
    bottom: 5px;
    font-size: 0.78em;
    color: var(--text-secondary);
    display: flex;
}

.footer .separator {
    padding-left: 8px;
    padding-right: 8px;
}

.subtext {
    font-size: 0.9em;
    color: var(--text-secondary);
}

.bookmarks {
    margin-top: 4px !important;
}